#footer{
    margin-top:30px;
    padding:20px;
    color:#fff;
    background:#333;
  }

.my-container {
    border: 10px solid green;
}

.my-row {
    border: 3px solid red;
    height: 200px;
}

.my-col {
    border: 3px dotted blue;
}

// .well {
//     background-color: cyan !important;
//     }
