<template>
    <div>
        <!-- <button class="btn btn-primary btn-block">Add New task</button> -->
        <!-- <button class="btn btn-primary" onclick="alert('hello')">List</button> -->
        <button @click="loadCreateModal" class="btn btn-primary btn-block">Add New task</button>
        <table class="table" v-if="tasks">
        <!-- <table class="table">   -->
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(task, index) in tasks">
                    <td>{{index + 1}}</td>
                    <td>{{task.name}}</td>
                    <td>{{task.body}}</td>
                    <td><button class="btn btn-info">Edit</button></td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>

        <!-- Create Modal -->
        <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <h1>MODAL Works</h1> -->
                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">{{error}}</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input v-model="task.name" type="text" id="name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <input v-model="task.body" type="text" id="description" class="form-control">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button @click="createTask" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</template>

<script>
    export default {
        data(){

            return {

                task:{
                    name: '',
                    body: ''
                },
                tasks: [],
                uri: 'http://basicsite:8888/tasks',
                errors: []
            }
        },
        methods: {

            loadCreateModal(){
                $("#create-modal").modal("show");
            },

            createTask(){
                axios.post(this.uri, {name: this.task.name, body: this.task.body})

                .then(response=>{

                    this.tasks.push(response.data.task);

                    //this.resetData();
                    $("#create-modal").modal("hide");

                    //toastr.success(response.data.message);

                })

                .catch(error=>{
                    console.log(error)
                    this.errors = [];

                    if(error.response.data.errors.name){
                        this.errors.push(error.response.data.errors.name[0]);

                    }

                    if(error.response.data.errors.body){
                        this.errors.push(error.response.data.errors.body[0]);

                    }

                });

            },

            loadTasks(){

                axios.get(this.uri).then(response=>{

                    this.tasks = response.data.tasks;
                    this.loading = true;
                    console.log(this.tasks);
                    // alert(this.tasks);
                });

            }
        },
        mounted() {
            this.loadTasks();
            console.log('Component mounted.')
        }
    }
</script>
